@model Open.Facade.Location.GeographicAddressViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = $"{Model.AddressType} Address";
    Layout = "_DetailsPartial";
}

<body>
@Html.Partial("_ViewAddress", Model);
</body>

@section Actions {
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID})
    @Html.ActionLink("Back to list", "Index")
}
