@model Open.Facade.Location.EMailAddressViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Subtitle = $"{Model.AddressType} Address";
    Layout = "_DetailsPartial";
}

<body>
@Html.Partial("_ViewEmail", Model)
</body>

@section Actions {
    @Html.ActionLink("Edit", "EditWeb", new {id = Model.ID})
    @Html.ActionLink("Back to list", "Index")
}
